version: "3.1"
                              
services:
  micro:
    environment:
      - ENV={{ env }}
    image: {{ image }}
    ports:
      - {{ port }}:{{ port }}
    container_name: {{ service_name }}
    volumes:
      - ./logs:/data/logs
      - ./config:/data/config
    restart: always
